name: tests
on:
  pull_request:
  push:
    branches: [ main ]

  schedule:
  - cron: '12 17 * * *'

  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: Debug with tmate
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# This is required for "gautamkrishnar/keepalive-workflow", see "ddev/github-action-add-on-test"
permissions:
  actions: write

jobs:
  tests:
    strategy:
      matrix:
        # TODO: Change back when ddev is released
        #ddev_version: [stable, HEAD]
        ddev_version: [HEAD]
        bats_file:
          - composerversion.bats
          - drupal10.bats
          - drupal11.bats
          - drupal9.bats
          - laravel.bats
          - mismatched-database.bats
          - mysql.bats
          - oddrelationships.bats
          - oracle-mysql.bats
          - php.bats
          - postgresql.bats
          - wordpress-bedrock.bats
          - wordpress-composer.bats

      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - uses: ddev/github-action-add-on-test@v2
        with:
          ddev_version: ${{ matrix.ddev_version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          debug_enabled: ${{ github.event.inputs.debug_enabled }}
          addon_repository: ${{ env.GITHUB_REPOSITORY }}
          addon_ref: ${{ env.GITHUB_REF }}
          test_command: bats tests/${{ matrix.bats_file }}
